<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">首页</a></li>
<li><a href="/about">待建设</a></li>
<li><a href="/cv">待建设</a></li>
<li><a href="/blog">资源共享</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:878269086@qq.com">email</a></li>
   <li><a href="https://cpa.mcss.vip">cpa.mcss.vip</a></li>
   </ul>
  </footer>
  </body>

</html>
